@charset "UTF-8";

html{
    /*background: #ffffff;*/
    display : grid;
    justify-content: center;
}

/* 【全体の背景・テキストなど】 */
body {
    max-width: 1000px;
    padding: auto;
    display: grid;
    justify-content: center;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
    /* 全体の文字色 */
    font-family: 'Noto Sans JP', sans-serif;
    /*以下がGridの指定。*/
    /*
    今回はtemplate-areasに指定してあるような構成なので、四行二列。
    そのため、各行、各列の幅を指定してあげる。
    */
    min-height: 100vh;
    grid-template-rows: 35px 35px 220px 1fr 92px ;
    grid-template-columns:1fr;
    grid-template-areas:
        "header"
        "gnav"
        "eyecatch"
        "main"
        "footer";
}

/*MarginとPaddingは各パーツごとに指定することにしているが、
特に指定のない場合下記のものが優先されると思う。*/

.stick {
    position: sticky;
    top: 0px;
}

.stick_lnav {
    position: sticky;
    top: 40px;
}

header {
    grid-area: header;
}

gnav {
    grid-area: gnav;
}

eyecatch {
    grid-area: eyecatch;
}


main {
    grid-area: main;
}

footer {
    grid-area: footer;
}