/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";

/*PCversionではいらないものを抹殺*/
.hide {
    display: none
}

.accordion {
    display: none
}


/* 【リンクの文字色】 */
main a:link {color: #045867;}
main a:visited {color: #045867;}
main a:hover {color: #b2bf0b;}
main a:active {color: #045867;}

footer a:link {color: #045867;}
footer a:visited {color: #045867;}
footer a:hover {color: #b2bf0b;}
footer a:active {color: #045867;}

lnav a:link {color: #045867;}
lnav a:visited {color: #045867;}
lnav a:hover {color: #b2bf0b;}
lnav a:active {color: #045867;}

/*これにより、ページ内リンクがメニューの下に来る*/
a.anchor {
    display: block;
    padding-top: 50px;
    margin-top: -50px;
}

header {
    height : 35px;
    position : relative;
    z-index: 1;
    text-align: center;
    padding: auto;
    margin: 0px 0px 0px 0px;
    background-color: #bfe3ea;
    float: center;
    font-size: 25px;
    font-family: 'M plus 1p', sans-serif;
}

/* 【グローバルナビゲーション】 */
gnav {
    height : 35px;
    position : relative;
    z-index: 2;/*上二つはIE用に試しに足してみている*/
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(255, 245, 225);
    border-bottom: 2px #336797 solid;
    /* フッタの下境界線 */
}

gnav ul {
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    list-style-type: none;
    z-index: 1;
}

gnav li {
    display: inline-block;
    /*position: relative; /* IE6用 */
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    padding: 0px 7px 0px 7px;

}

gnav a {
    color: #0c4155;
    /* 文字色 */
    text-decoration: none;
    display: block;
}

gnav a.active{
    border-bottom: 3px #ffa518 solid;
    text-decoration: none;
    display: block;
}

gnav a:hover {
    color: #0cc3c3;
    border-bottom: 2px #f49f19 solid;
    /* ヘッダメニューの下境界線 */
}

eyecatch {
    overflow: hidden;
    position:relative;
}

.photo_eyecatch {
    width: 100%;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
    position : relative;
    z-index: -2;
}

.pagetitle {
    height: 190px;
    width:calc(100% - 30px);
    color: #ffffff;
    margin : 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position : absolute;
    top:10px;
    left:10px;
    font-family: "M plus 1p",sans-serif;
    font-weight: 500;
    font-size : 60px;
    border: 5px #1fb0cb solid;
    z-index: -1;
}

eyecatch a:link {
    color: #ffffff;
    text-decoration:none;
}

eyecatch a:visited {
    color: #ffffff;
    text-decoration:none;
}

eyecatch :hover {
    color: #307e00;
    text-decoration:none;
}

eyecatch a:active {
    color: #ffffff;
    text-decoration:none;
}

/* 【ページ内ナビゲーション】 */
lnav {
    background-color: #ffffff;
    grid-area: lnav;
    margin: 0px 2px 0px 5px;
    width: 177px;
}

lnav ul {
    padding: 0px 0px 0px 0px;
    list-style-type: none;
}

/*
高さはemで指定(文字サイズを基準にする)
*/
lnav li {
    font-size: 20px;
    font-family: "M plus 1p", "Helvetica", sans-serif;
    font-weight: 300;
    line-height: 2.2em;
    text-indent: 1em;
    margin-bottom: 4px;
    width: 100%;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #08d4dd;
}

lnav li.sub {
    font-size: 14px;
    font-weight: 400;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 1.6em;
    border-width: 0px 0px 0px 5px;
    /*親のliと指定を変えている*/
    border-left-style: solid;
    border-left-color: #45d4fc;
}

lnav li.subsub {
    font-weight: 400;
    margin-left: 10px;
    font-size: 12px;
    line-height: 1.6em;
    margin-bottom: 4px;
    border-width: 0px 0px 0px 0px;
}

lnav a {
    color: white;
    text-decoration: none;
    display: block;
}

lnav a:hover {
    /*background-color : #222222;*/
    border-color: #f49f19;
    /* ヘッダメニューの下境界線 */
}

/* 【パンくずリスト】 */
ol {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #efefef;
    width: 100%;
    height: 22px;
    float: center;
}

ol.breadcrumb li::after {
    content: ">";
    margin: 0 10px;
}

ol.breadcrumb li:last-child::after {
    content: none;
}

main {
    background-color: #ffffff;
    padding: 5px 3px 0px 8px;
    margin: 0px 0px 0px 0px;
}

footer {
    display : -ms-grid;
    display : grid;
    margin : 10px 0px 0px 0px;
    padding : 5px 0px 0px 0px;
    float: center;
    /* 全体の文字色 */
    font-weight: 500;
    background-color: #f3f8f8;
    -ms-grid-rows: 56px 20px;
    grid-template-rows: 56px 20px;
    -ms-grid-columns: 35% 30% 35%;
    grid-template-columns: 35% 30% 35%;
        grid-template-areas:
        "zone1 zone2 zone3"
        "cpright cpright cpright";
    font-size: 12px;
    border-top : 1px #246579 solid;
}
.zone1{ 
    -ms-grid-row: 1; 
    -ms-grid-column: 1; 
    padding : 0px 0px 0px 30px; 
    grid-area: zone1;
    text-align: left;
    font-size:12px;
    color: #045867;
}
.zone2{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: zone2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size:12px;
    color: #045867;
}
.zone3{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    padding : 10px 0px 0px 0px;    
    grid-area: zone3;
    text-align: center;
    font-size:14px;
}
.cpright{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    padding : 0px 0px 0px 10px;    
    font-family: "Mplus 1p" sans-serif;
    font-weight : 400;
    color : #ffffff;
    background-color: #246579;
    grid-area: cpright;
}

main li{
    font-size: 14px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #000000;
}

p {
    margin: 8px 0px 8px 0px;
    font-size: 14px;
    padding-left: 5px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #000000;
}

h1 {
    margin: 10px 0px 10px 0px;
    font-size: 28px;
    font-family: "M plus 1p", "Helvetica", sans-serif;
    font-weight: 300;
    color: #01678d;
    /*    border-bottom: 1px #01678d solid;*/
}

h2 {
    margin: 20px 0px 5px 0px;
    font-size: 20px;
    font-family: "M+ 1c regular", "Helvetica", sans-serif;
    font-weight: 400;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #0c7b9a;
    color: #000000;
}

h3 {
    margin: 20px 0px 5px 0px;
    padding: 0px 0px 0px 5px;
    font-size: 20px;
    font-family: "M+ 1c regular", "Helvetica", sans-serif;
    font-weight: 400;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #45d4fc;
    color: #000000;
}

/*試合結果の表*/
table {
    width: 100%;
    max-width: 700px;
    border-collapse: collapse;
}

th {
    /*width: 14%;*/
    padding: 2px 5px;
    border: solid 1px #666666;
    color: #000000;
    background-color: #ddf1fc;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-size: 13px;
}

td {
    /*width: 14%;*/
    padding: 2px 5px;
    border: solid 1px #666666;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    font-size: 13px;
}
.left{
    text-align: left;
}

.narrow{
    width : 80px;
}

thead {
    border-bottom: solid 0px #666666;
}

/* 6th total */
table.total {
    border-left: solid 1px #666666;
    border-right: solid 1px #666666;
    border-top: solid 1px #666666;
}

table.total th {
    padding: 5px 5px;
    font-size: 120%;
    border: none;
}

th.1 {
    width: 30%;
}

th.2 {
    width: 40%;
}

/* 各大学結果 */
table.every thead th {
    padding: 0px 0px;
    font-size: 150%;
}

/*プロフィールの設定*/
profile {
    float: center;
    display: -ms-grid;
    display: grid;
    margin: 5px 0px 5px 0px;
    color: #000000;
    /* 全体の文字色 */
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgba(232, 244, 247, 0.92);
    min-height: 10vh;
    border: 1px #336797 solid;
    -ms-grid-rows: 45px 30px 30px minmax(40px,1fr);
    grid-template-rows: 45px 30px 30px minmax(40px,1fr);
    -ms-grid-columns: 120px 200px 1fr;
    grid-template-columns: 120px 200px 1fr;
        grid-template-areas:
        "photo position name   "
        "photo faculty  faculty"
        "photo school   school "
        "photo comment  comment";
}

.photo_profile {
    width: 120px;
    height:145px;
    -o-object-fit: cover;
       object-fit: cover;
    /*coverは強制的に枠に当てはめて、containはタテヨコ比を維持する*/
}

.job {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: position;
    padding: 10px 0px 0px 5px;
    font-weight: 300;
    font-size: 20px;
    border-bottom: 2px #336797 solid;
    color: rgb(15, 58, 96)
}

.name {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: name;
    font-weight: 100;
    font-size: 30px;
    padding: 0px 0px 0px 5px;
    font-weight: 100;
    border-bottom: 2px #336797 solid;
    color: rgb(15, 58, 96)
}

.faculty {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: faculty;
    font-weight: 300;
    font-size: 16px;
    padding: 0px 0px 0px 5px;
}

.school {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: school;
    font-weight: 300;
    font-size: 16px;
    padding: 0px 0px 0px 5px;
    border-bottom : 1px #336797 dotted;
}

.comment {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: comment;
    font-weight: 300;
    font-size: 14px;
    padding: 0px 0px 0px 5px;
}

/*お問い合わせの設定*/
inquiry {
    float: center;
    display: -ms-grid;
    display: grid;
    margin: 0px;
    padding-top : 10px;
    padding-bottom : 10px;
    color: #000000;
    /* 全体の文字色 */
    background-color: #ffffff;
    border-bottom: 1px #336797 dotted;
    -ms-grid-rows: 1fr;
    grid-template-rows: auto;
    -ms-grid-columns: 180px calc(100% - 180px);
    grid-template-columns: 180px calc(100% - 180px);
        grid-template-areas:
        "midasi detail";
}

/*midashiはh1,detailはpのスタイルを継承。*/
.midasi {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: midasi;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align:center;
    font-size: 28px;
    font-family: "M plus 1p", sans-serif;
    font-weight: 300;
    color: #01678d;
    padding: 0px 0px 0px 5px;
}

.detail {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: detail;
    font-size: 14px;
    padding-left: 5px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #000000;
    padding: 0px 0px 0px 5px;
}
.warning{
    background-color: rgba(255, 208, 8, 0.51);
    border : 2px #ff8800 solid;
    border-radius: 10px;
    padding : 5px;
    
}

/*Q and A*/
question {
    float: center;
    display: -ms-grid;
    display: grid;
    margin: 7px 0px 3px 0px;
    padding-top : 0px;
    padding-bottom : 0px;
    color: #000000;
    /* 全体の文字色 */
    background-color: #ffffff;
    border: 2px #c60a68 solid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 70px calc(100% - 70px);
    grid-template-columns: 70px calc(100% - 70px);
        grid-template-areas:
        "Q ques";
}
/*Qはh1,quesはpのスタイルを継承。*/
.Q {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: Q;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color : #d88eb3;
    padding: 0px;
}
.ques{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: ques;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    padding: 5px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #000000;
}

answer {
    float: center;
    display: -ms-grid;
    display: grid;
    margin: 3px 0px 7px 0px;
    padding : 0px;
    color: #000000;
    /* 全体の文字色 */
    background-color: #ffffff;
    border: 2px #296dd9 solid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: calc(100% - 70px) 70px;
    grid-template-columns: calc(100% - 70px) 70px;
        grid-template-areas:
        "ans A";
}
/*Qはh1,quesはpのスタイルを継承。*/
.A {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color : #8ebcd8;
    padding: 0px;
}
.ans{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ans;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    padding: 5px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #000000;
}
.ichiran{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #000000;
    border: 2px #c60a68 solid;
	border-radius: 10px;/*角丸*/
    padding: 8px;
}
.ihiran a{
    font-weight: 400;
}