/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";


/* 【main,footerのリンクの文字色】 */
main a:link {color: #045867;}
main a:visited {color: #045867;}
main a:hover {color: #b2bf0b;}
main a:active {color: #045867;}

footer a:link {color: #045867;}
footer a:visited {color: #045867;}
footer a:hover {color: #b2bf0b;}
footer a:active {color: #045867;}

lnav a:link {color: #045867;}
lnav a:visited {color: #045867;}
lnav a:hover {color: #b2bf0b;}
lnav a:active {color: #045867;}

/*これにより、ページ内リンクがメニューの下に来る*/
a.anchor {
    display: block;
    padding-top: 50px;
    margin-top: -50px;
}

header {
    height : 35px;  
    position : relative;/*for IE*/
    z-index: 1;
    text-align: center;
    padding: auto;
    font-size: 24px;
    background-color: #bfe3ea;
    float: center;
    font-family: "M plus 1p", sans-serif;
    font-weight: 400
}

/* 【パンくずリスト】 */
ol {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #efefef;
    width: 100%;
    height: 22px;
    float: center;
}

ol.breadcrumb li::after {
    content: ">";
    margin: 0 10px;
}

ol.breadcrumb li:last-child::after {
    content: none;
}

main {
    padding: 5px;
    background-color: #ffffff;
    padding: 5px 3px 0px 8px;
    margin: 0px 0px 0px 0px;
}

footer {
    display : -ms-grid;
    display : grid;
    margin : 10px 0px 0px 0px;
    padding : 5px 0px 0px 0px;
    float: center;
    /* 全体の文字色 */
    font-weight: 500;
    background-color: #f3f8f8;
    -ms-grid-rows: 56px 20px;
    grid-template-rows: 56px 20px;
    -ms-grid-columns: 55% 45%;
    grid-template-columns: 55% 45%;
        grid-template-areas:
        "zone1 zone2"
        "cpright cpright";
    font-size: 12px;
    border-top : 1px #246579 solid;
}
.zone1{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    padding : 0px 0px 0px 10px;  
    grid-area: zone1;
    text-align: left;
    font-size:12px;
    color: #045867;
}
.zone2{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: zone2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size:11px;
    color: #045867;
}
/*スマホ版は上に戻るのボタンは不要*/
.zone3{
    display:none;
}
.cpright{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    padding : 0px 0px 0px 10px;    
    font-family: "Mplus 1p" sans-serif;
    font-weight : 400;
    color : #ffffff;
    background-color: #246579;
    grid-area: cpright;
}

p {
    margin: 8px 0px 8px 0px;
    font-size: 14px;
    padding-left: 5px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #000000;
}

main li{
    font-size: 14px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #000000;
}

/*h0 {
    margin: 20px 0px 10px 0px;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    color: #000000;
}*/

h1 {
    margin: 5px 0px 8px 0px;
    font-size: 24px;
    font-family: "M plus 1p", "Helvetica", sans-serif;
    font-weight: 300;
    color: #01678d;
    /*    border-bottom: 1px #01678d solid;*/
}

h2 {
    margin: 10px 0px 3px 0px;
    font-size: 17px;
    font-family: "M+ 1c regular", "Helvetica", sans-serif;
    font-weight: 400;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #0c7b9a;
    color: #000000;
}

h3 {
    margin: 20px 0px 5px 0px;
    padding: 0px 0px 0px 5px;
    font-size: 15px;
    font-family: "M+ 1c regular", "Helvetica", sans-serif;
    font-weight: 400;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #45d4fc;
    color: #000000;
}

/*試合結果の表*/
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    /*width: 14%;*/
    padding: 2px 5px;
    border: solid 1px #666666;
    color: #000000;
    background-color: #ddf1fc;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

td {
    /*width: 14%;*/
    padding: 2px 5px;
    border: solid 1px #666666;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

thead {
    border-bottom: solid 0px #666666;
}

/* 6th total */
table.total {
    border-left: solid 1px #666666;
    border-right: solid 1px #666666;
    border-top: solid 1px #666666;
}

table.total th {
    padding: 5px 5px;
    font-size: 15px;
    border: none;
}
.narrow{
    width : 80px;
}

th.1 {
    width: 30%;
}

th.2 {
    width: 40%;
}

/* 各大学結果 */
table.every thead th {
    padding: 0px 0px;
    font-size: 150%;
}

/*https://techacademy.jp/magazine/19737*/

lnav {
    z-index: 1;
    height: 40px;
    text-align: center;
}

lnav a {
    text-decoration: none;
    display: block;/*枠内全てで反応*/
}

label {
    display: block;
    margin: 0px;
    padding: 8px 5px 5px 8px;
    font-size: 14px;
    color: #000000;
    background: #e8f491;
    cursor: pointer;
}

input {
    display: none;
}

lnav ul {
    margin: 0px 20px 0px 20px;
    padding: 0;
    background: rgba(235, 235, 235, 0.9);
    list-style: none;
    text-align: left;
}

lnav li {
    height: 0;
    color : #000000;
    margin : 0px;
    padding:0px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

lnav li.sub {
    padding: 0px 0px 0px 8px;
    font-size: 14px;
}

lnav li.subsub {
    padding: 0px 0px 0px 15px;
    font-size: 12px;
}

#menu_bar01:checked ~ #links01 li {
    border-bottom: 1px #aaaaaa dotted;
    height : 30px;
    opacity: 1;
}
#menu_bar01:checked ~ #links01 li {
    border-bottom: 1px #aaaaaa dotted;
    height : 25px;
    opacity: 1;
}
#menu_bar01:checked ~ #links01 li {
    border-bottom: 1px #aaaaaa dotted;
    height : 23px;
    opacity: 1;
}

/* 【グローバルナビゲーション】 */
gnav {
    /*height : 35px;*/
    position : relative;
    z-index: 2;/*上二つはIE用に試しに足してみている*/
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(255, 245, 225);
    border-bottom: 2px #336797 solid;
    /* フッタの下境界線 */
}

gnav ul {
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    list-style-type: none;
}

gnav li {
    display: inline-block;
    /*position: relative; /* IE6用 */
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    padding: 0px 5px 0px 5px;
}

gnav a {
    color: #0c4155;
    /* 文字色 */
    text-decoration: none;
    display: block;
}

gnav a:hover {
    color: #0cc3c3;
    border-bottom: 2px #f49f19 solid;
    /* ヘッダメニューの下境界線 */
}

gnav a.active{
    border-bottom: 3px #ffa518 solid;
    text-decoration: none;
    display: block;
}

eyecatch {
    overflow: hidden;
    position:relative;
}

.photo_eyecatch {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    position : relative;
    z-index: -2;
}

.pagetitle {
    height: 130px;
    width:calc(100% - 20px);
    color: #ffffff;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position : absolute;
    top:5px;
    left:5px;
    font-family: "M plus 1p",sans-serif;
    font-weight: 500;
    font-size : 45px;
    border: 5px #1fb0cb solid;
    z-index: -1;
}

eyecatch a:link {
    color: #ffffff;
    text-decoration:none;
}

eyecatch a:visited {
    color: #ffffff;
    text-decoration:none;
}

eyecatch :hover {
    color: #307e00;
    text-decoration:none;
}

eyecatch a:active {
    color: #ffffff;
    text-decoration:none;
}

/*以下、プロフィールの設定*/
profile {
    float: center;
    display: -ms-grid;
    display: grid;
    margin: 5px 0px 5px 0px;
    color: #000000;
    /* 全体の文字色 */
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgba(232, 244, 247, 0.92);
    /*min-height: 10vh;*/
    border: 1px #336797 solid;
    -ms-grid-rows: 36px 27px 27px 40px;
    grid-template-rows: 36px 27px 27px 40px;
    -ms-grid-columns: 115px 150px 1fr;
    grid-template-columns: 115px 150px 1fr;
        grid-template-areas:
        "photo job      name   "
        "photo faculty  faculty"
        "photo school   school "
        "photo comment  comment";
}

.photo_profile {
    width: 115px;
    height: 130px;
    -o-object-fit: cover;
       object-fit: cover;
    /*coverは強制的に枠に当てはめて、containはタテヨコ比を維持する*/
}

.job {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: job;
    padding: 10px 0px 0px 5px;
    font-weight: 300;
    font-size: 15px;
    border-bottom: 2px #336797 solid;
    color: rgb(15, 58, 96)
}

.name {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: name;
    font-weight: 100;
    font-size: 20px;
    padding: 5px 0px 0px 5px;
    font-weight: 300;
    border-bottom: 2px #336797 solid;
    color: rgb(15, 58, 96)
}

.faculty {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: faculty;
    font-weight: 300;
    font-size: 14px;
    padding: 0px 0px 0px 5px;
}

.school {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: school;
    font-weight: 300;
    font-size: 14px;
    padding: 0px 0px 0px 5px;
    border-bottom : 1px #336797 dotted;
}

.comment {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: comment;
    font-weight: 400;
    font-size: 12px;
    padding: 0px 0px 0px 5px;
}

inquiry {
    float: center;
    display: -ms-grid;
    display: grid;
    margin: 0px;
    padding-top : 10px;
    padding-bottom : 10px;
    /* 全体の文字色 */
    background-color: #ffffff;
    -ms-grid-rows: 50px auto;
    grid-template-rows: 50px 1fr;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
        grid-template-areas:
        "midasi"
        "detail";
}

/*midashiはh1,detailはpのスタイルを継承。*/
.midasi {
    height : 50px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: midasi;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-family: "M plus 1p", "Helvetica", sans-serif;
    font-weight: 300;
    color: #ffffff;
    padding: 0px 0px 0px 0px;
    background-color: #16a7be;
}

.detail {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: detail;
    font-size: 14px;
    padding-left: 5px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #000000;
    padding: 5px 0px 0px 0px;
    color: #000000;
}
.warning{
    background-color: rgba(255, 208, 8, 0.51);
    border : 2px #ff8800 solid;
    border-radius: 10px;
    padding : 5px;
}

/*Q and A*/
question {
    float: center;
    display: -ms-grid;
    display: grid;
    margin: 5px 0px 3px 0px;
    padding-top : 0px;
    padding-bottom : 0px;
    color: #000000;
    /* 全体の文字色 */
    background-color: #ffffff;
    border: 2px #c60a68 solid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 70px calc(100% - 70px);
    grid-template-columns: 70px calc(100% - 70px);
        grid-template-areas:
        "Q ques";
}
/*Qはh1,quesはpのスタイルを継承。*/
.Q {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: Q;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color : #d88eb3;
    padding: 0px;
}
.ques{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: ques;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    padding: 5px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #000000;
}

answer {
    float: center;
    display: -ms-grid;
    display: grid;
    margin: 3px 0px 5px 0px;
    padding : 0px;
    color: #000000;
    /* 全体の文字色 */
    background-color: #ffffff;
    border: 2px #296dd9 solid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: calc(100% - 70px) 70px;
    grid-template-columns: calc(100% - 70px) 70px;
        grid-template-areas:
        "ans A";
}
/*Qはh1,quesはpのスタイルを継承。*/
.A {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 21px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color : #8ebcd8;
    padding: 0px;
}
.ans{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ans;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    padding: 5px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #000000;
}

.ichiran{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #000000;
    border: 2px #c60a68 solid;
	border-radius: 10px;/*角丸*/
    padding: 8px;
}
.ihiran a{
    font-weight: 400;
}

/*スマホ限定*/
backtotop{
    position:absolute;
    position:fixed;
    bottom:10px;
    right:10px;
    width:50px;
    height: 50px;
	border-radius: 50%;/*角丸*/
    text-align: center;
    background-color: rgba(134, 214, 25, 0.55);
    border:1px rgba(134, 214, 25) solid;
    color:#ffffff;
    font-size:32px;
    font-family: "M plus 1p",sans-serif;
    font-weight: 500;
}
    backtotop a:link {
        color: #ffffff;
    }

    backtotop a:visited {
        color: #ffffff;
    }

    backtotop :hover {
        color: #307e00;
    }

    backtotop a:active {
        color: #ffffff;
    }