@charset "UTF-8";

/* 【全体の背景・テキストなど】 */
body {
    max-width: 900px;
    padding: auto;
    display: grid;
    margin: 0;
    color: #000000;
    /* 全体の文字色 */
    font-family: 'Noto Sans JP', sans-serif;
    /*以下がGridの指定。*/
    /*
    今回はtemplate-areasに指定してあるような構成なので、四行二列。
    そのため、各行、各列の幅を指定してあげる。
    */
    min-height: 100vh;
    grid-template-rows: 35px 35px 220px 300px 1fr 35px;
    grid-template-columns: minmax(0.3fr, 200px) minmax(1fr, 800px);
    grid-template-areas:
        "header     header"
        "gnav         gnav"
        "eyecatch eyecatch"
        "lnav         main"
        ".            main"
        "footer     footer";
}

/*MarginとPaddingは各パーツごとに指定することにしているが、
特に指定のない場合下記のものが優先されると思う。*/

.stick {
    position: sticky;
    top: 0px;
}

.stick_lnav {
    position: sticky;
    top: 40px;
}

header {
    grid-area: header;
}

/* 【グローバルナビゲーション】 */
gnav {
    grid-area: gnav;
}

/* 【ページ内ナビゲーション】 */
lnav {
    grid-area: lnav;
}

/* 【パンくずリスト】 */

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
