@charset "UTF-8";

/* 【リンクの文字色】 */
a:link { color: #045867; }
a:visited { color: #045867; }
a:hover { color: #b2bf0b; }
a:active { color: #008080; }
header{
    text-align : center;
    padding : auto;
    font-size : 24px;
    background-color : rgb(191, 227, 234) ;
    float : center;
    font-family : "M plus 1p", sans-serif;
    font-weight: 400
}

/* 【パンくずリスト】 */
ol {
    list-style-type: none;
    display: flex;
    font-size : 12px;
    padding : 0px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
    background-color : #f4f4f4 ;
    width : 100%;
    height : 20px ;
    float : center;
}

ol.breadcrumb li::after {
    content: ">";
    margin: 0 10px;
}

ol.breadcrumb li:last-child::after {
    content: none;
}
main{
    background-color : #ffffff;
    padding : 5px 3px 0px 8px;
    margin : 0px 0px 0px 0px;
    border-right-width : 0px;
    border-right-style : solid;
    border-right-color : none;
}

footer{
    font-size : 12px;
    color : #2b8ba8;
    background-color : #ffffff;
    border-bottom: 3px #336797 solid; /* フッタの下境界線 */
    padding: 10px 5px 0px 0px; /* フッタのパディング（上下、左右） */
    clear : both;
    font-family: "Mplus 1p", "Helvetica", sans-serif;
    font-weight: 400;
}
p{
    margin : 8px 0px 8px 0px;
    font-size : 13px;
    padding-left : 5px;
    font-family: "M plus 1p", "Helvetica", sans-serif;
    font-weight: 300;
    color :#000000;
}
h0{
    margin : 20px 0px 10px 0px;
    font-size : 20px;
    font-family: 'Manrope', sans-serif;
    color: #000000;
}

h1{
    margin : 5px 0px 8px 0px;
    font-size : 22px;
    font-family: "M plus 1p", "Helvetica", sans-serif;
    font-weight: 300;
    color :#01678d;
/*    border-bottom: 1px #01678d solid;*/
}
h2{
    margin : 10px 0px 3px 0px;
    font-size : 17px;
    font-family: "M+ 1c regular", "Helvetica", sans-serif;
    font-weight: 400;
    border-bottom-width : 2px;
    border-bottom-style : solid;
    border-bottom-color : #0c7b9a ;
    color :#000000;
}
h3{
    margin : 20px 0px 5px 0px;
    padding : 0px 0px 0px 5px;
    font-size : 15px;
    font-family: "M+ 1c regular", "Helvetica", sans-serif;
    font-weight: 400;
    border-left-width : 5px;
    border-left-style : solid;
    border-left-color : #45d4fc ;
    color :#000000;
}

/*試合結果の表*/
table {
/*	width: minmax(500px,100%);*/
    width : 100%;
    border-collapse : collapse;
}
th {
	width: 14%;
	/*padding: 2px 5px;*/
	border: solid 1px #666666;
	color: #000000;
	background-color: #CFDCE3;
    font-size: 13px;
}
td {
	width: 14%;
	/*padding: 2px 5px;*/
	border: solid 1px #666666;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	vertical-align: middle;
    font-size: 13px;
}
thead {
    border-bottom: solid 0px #666666;
}
/* 6th total */
table.total {
	border-left: solid 1px #666666;
	border-right: solid 1px #666666;
	border-top: solid 1px #666666;
}
table.total th {
	padding: 5px 5px;
	font-size: 15px;
	border: none;
}
th.1 {
	width: 30%;
}
th.2 {
	width: 40%;
}
/* 各大学結果 */
table.every thead th {
	padding: 0px 0px;
	font-size: 150%;
}

/*https://techacademy.jp/magazine/19737*/

lnav {
    height : 40px;
    text-align: center;
}

lnav a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #000;
}

label {
    display: block;
    /*margin: 10px 20px 5px 20px;*/
    margin : 0px;
    padding : 8px 5px 5px 8px;
    font-size : 13px;
    color :#000000;
    background : #e0edb6;
    cursor :pointer;
}

input {
    display: none;
}

lnav ul {
    margin: 0px 20px 0px 20px;
    padding: 0;
    background :rgba(235, 235, 235, 0.9);
    list-style: none;
    text-align: left;
}

lnav li {
    /*border-bottom: 1px #37add8 solid;*/
    height: 0;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size : 15px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
lnav li sub{
    padding: 0px 0px 0px 0px;  
    font-size : 13px;
}
lnav li subsub{
    padding: 0px 10px 0px 0px; 
    font-size : 11px;
}

#menu_bar01:checked ~ #links01 li {
    height: 30px;
    opacity: 1;
}


/*=============================
gnav POWERED BY https://125naroom.com/web/2958
=============================*/

gnav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}
.open gnav {
  left: 0;
  opacity: 1;
}
gnav .inner {
  padding: 25px;
}
gnav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
gnav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
gnav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
gnav .inner ul li a:hover {
  background: #e4e4e4;
}
@media screen and (max-width: 500px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}